
    <% include partials/commonhead.ejs %>
    <style>
      #searchCommunitybox {
        display: none;
      }
    </style>
    <link rel="stylesheet" href="switchcommunityhome.css">
  </head>
  <body>
    <% include partials/userheader.ejs %>
    <div id="viewscreen">
        <% include partials/usersidebar.ejs %>
        <% include partials/commoncommunityhome.ejs %>
    </div>
  </body>
  <script type="text/javascript" src="usersidebar.js">  </script>
  <script type="text/javascript" src="switchcommunityhome.js"></script>
</html>
